* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #989898;
}

.main {
  display: block;
}

.input-field {
  display: inline-flex;
  margin-bottom: 32px;
}

.date-input {
  display: block;
  border: 1px solid #808080;
  outline: none;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  margin-right: 8px;
  padding: 8px 16px;

  font-weight: 400;
  color: #2e2f42;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color, color;
}

.date-input:hover,
.date-input:focus {
  border-color: #000;
}

.date-input:active {
  border-color: #4e75ff;
}

.date-input:disabled {
  border-color: #808080;
  color: #808080;
  cursor: not-allowed;
}

.start-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  opacity: 1;
  scale: 1;
  transform: translateX(0);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, color, opacity, scale, transform;
}

.start-btn:hover,
.start-btn:focus {
  background-color: #6c8cff;
}

.start-btn:disabled {
  cursor: default;
  background-color: #cfcfcf;
  color: #989898;
}

.start-btn.hide {
  opacity: 0;
  /* scale: 0; */
  transform: translateX(-10px);
}

.restart-btn {
  opacity: 0;
  transform: translateX(10px);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, opacity, transform;
}

.restart-btn.on-screen {
  opacity: 1;
  transform: translateX(0px);
}

.timer {
  display: flex;
  justify-content: center;

  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  color: #2e2f42;
}

.label {
  font-size: 16px;
  font-weight: 400;
  color: #2e2f42;
  text-transform: uppercase;
}
