* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.delay-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
}

.delay-label input {
  margin-top: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  background-color: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.delay-label input:hover {
  border-color: #000;
}

.delay-label input:focus {
  border-color: #4e75ff;
}

fieldset {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

fieldset:hover,
fieldset:focus {
  border-color: #000;
}

legend {
  text-align: left;
  margin-left: 16px;
  padding: 0px 4px;
}

.radio-wrapper {
  display: flex;
  gap: 48px;
  align-items: center;
  justify-content: center;
}

.custom-radio-input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #757575;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 14px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

fieldset:hover .radio-wrapper label .custom-radio-input,
fieldset:focus .radio-wrapper label .custom-radio-input {
  border-color: #000;
}

fieldset input:checked + .custom-radio-input {
  border-color: #4e75ff;
}

.custom-radio-accepted {
  border-radius: 14px;
  width: 12px;
  height: 12px;
  background-color: #4e75ff;
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

fieldset input:checked + .custom-radio-input .custom-radio-accepted {
  opacity: 1;
}

.form-btn {
  cursor: pointer;
  margin-top: 24px;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 360px;
  height: 40px;

  background-color: #4e75ff;

  font-weight: 500;
  color: #fff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  background-color: #6c8cff;
}
